.arl_admin_markup_types_overview
  %p A&R.local includes three different markup types for text:
  %ul.arl_admin_markup_types_overview_cases
    %li.arl_admin_markup_types_overview_case
      %dl
        %dh.arl_admin_markup_types_overview_case_header Markdown text
        %dd.arl_admin_markup_types_overview_case_example Can include headers, lists, or links.
        %dd.arl_admin_markup_types_overview_case_example Can include bold or italic fonts.
    %li.arl_admin_markup_types_overview_case
      %dl
        %dh.arl_admin_markup_types_overview_case_header Plain text
        %dd.arl_admin_markup_types_overview_case_example Can have multiple paragraphs.
        %dd.arl_admin_markup_types_overview_case_example Does not include bold or italic fonts.
    %li.arl_admin_markup_types_overview_case
      %dl
        %dh.arl_admin_markup_types_overview_case_header Single-line text
        %dd Titles and single-phrase descriptions.
