.arl_admin_markup_types_overview
  %p.arl_admin_markup_types_overview_summary A&R.local includes three different markup types for text:
  %ul.arl_admin_markup_types_overview_cases
    %li.arl_admin_markup_types_overview_case
      %dl
        %dh.arl_admin_markup_types_overview_case_header Inline text
        %dd.arl_admin_markup_types_overview_case_example Titles and single-phrase descriptions.
        %dd.arl_admin_markup_types_overview_case_example Does not include bold or italic fonts.
        %dd.arl_admin_markup_types_overview_case_example Displayed as a single line, spaces are condensed.
    %li.arl_admin_markup_types_overview_case
      %dl
        %dh.arl_admin_markup_types_overview_case_header Markdown text
        %dd.arl_admin_markup_types_overview_case_example Can have multiple paragraphs.
        %dd.arl_admin_markup_types_overview_case_example Can include bold or italic fonts.
        %dd.arl_admin_markup_types_overview_case_example Can include headings, lists, and links.
    %li.arl_admin_markup_types_overview_case
      %dl
        %dh.arl_admin_markup_types_overview_case_header Plain text
        %dd.arl_admin_markup_types_overview_case_example Can have multiple paragraphs.
        %dd.arl_admin_markup_types_overview_case_example Does not include bold or italic fonts.
