= html_head_subtitle_set 'content storage'

.arl_admin_help_basic
  %h2.arl_admin_help_basic_title
    Content Storage
  %p.arl_admin_help_basic_content_text
    A&amp;R.local includes different methods of accessing content files for audio, pictures, and videos: <i>imported</i>, <i>uploaded</i>, <i>embed</i>, and <i>url</i>.
  %hr
  %h3.arl_admin_help_basic_content_title
    Imported
  %p.arl_admin_help_basic_content_text
    For administrators who want to transfer media files to the server via command line tools such as <i>rsync</i> or <i>scp</i>.
  %p.arl_admin_help_basic_content_text
    The attribute <i>source_imported_file_path</i> is the location of the file relative to the imported directory 'public/portfolio'.
  %hr
  %h3.arl_admin_help_basic_content_title
    Uploaded
  %p.arl_admin_help_basic_content_text
    For administrators who want to transfer media files through the web browser.
  %p.arl_admin_help_basic_content_text
    Uploading is best for administrators looking for the simplest  option.
  %hr
  %h3.arl_admin_help_basic_content_title
    Embed (experimental, videos only)
  %p.arl_admin_help_basic_content_text
    The <b>embed</b> option allows the content and media player from another service. A compatible service will provide an embed code in its sharing options.
  %p.arl_admin_help_basic_content_text
    Embedding is suitable for large media files, or for integrating view history between A&amp;R.local and a primary service.
  %hr
  %h3.arl_admin_help_basic_content_title
    URL
  %p.arl_admin_help_basic_content_text
    (experimental, videos hosted by YouTube only)
