= html_head_subtitle_set 'content storage'

.arl_admin_help_basic
  %h2.arl_admin_help_basic_title
    Content Storage
  %p.arl_admin_help_basic_content_text
    A&amp;R.local includes different methods of accessing content files for audio, pictures, and videos: <i>imported</i>, <i>uploaded</i>, <i>embed</i>, and <i>url</i>.

  %h3.arl_admin_help_basic_content_title
    Imported
  %p.arl_admin_help_basic_content_text
    The <b>import</b> tools read from a portfolio location on the server that can store audio, image, and video files. An administrator can push files using scp or rsync. The attribute <i>source_imported_file_path</i> is the location of the file relative to the imported directory 'public/portfolio'.
  %p.arl_admin_help_basic_content_text
    Importing is suitable for administrators with command-line experience who have shell access on their local device and the server itself.

  %h3.arl_admin_help_basic_content_title
    Uploaded
  %p.arl_admin_help_basic_content_text
    The <b>upload</b> tools let an administrator send audio, image, or video files through the web browser. This option does not require shell access, however, it does not allow an administrator to customize how the server organizes content files within the '/storage' directory on the filesystem.
  %p.arl_admin_help_basic_content_text
    Uploading is suitable for administrators looking for the simplest content storage option.

  %h3.arl_admin_help_basic_content_title
    Embed (experimental, videos only)
  %p.arl_admin_help_basic_content_text
    The <b>embed</b> option allows the content and media player from another service. A compatible service will usually provide a &lt;script&gt; and &lt;embed&gt; code in its sharing options.
  %p.arl_admin_help_basic_content_text
    Embedding is suitable for large media files, or for integrating view history between A&amp;R.local and a primary service.

  %h3.arl_admin_help_basic_content_title
    URL (experimental, videos only)
