= html_head_subtitle_set 'markup types'

.arl_admin_resource_header
  .arl_admin_resource_header_category
    A&amp;R.local markup types

%nav.arl_admin_resource_edit_nav
  - @form_metadata.navbar_categories.each do |category|
    = welcome_markup_admin_nav_button(category: category, current_pane: @form_metadata.current_pane)

.arl_admin_videos_edit
  = render @form_metadata.partial_name, selectable: @form_metadata.selectables
