.arl_admin_isrc_index {
  padding: $arl-spacing;
}
.arl_admin_isrc_index_isrcs {
  font-family: $font-family-data;
}
.arl_admin_isrc_index_isrcs_item_class {
  padding: $arl-margin-narrow;
}
.arl_admin_isrc_index_isrcs_item_title {
  padding: $arl-margin-narrow;
}
.arl_admin_isrc_index_isrcs_item_isrc {
  padding: $arl-margin-narrow;
}
