.arl_infopage_show {
}
.arl_infopage_show_group_bottom {}
.arl_infopage_show_group_left {
}
.arl_infopage_show_group_right {}
.arl_infopage_show_group_top {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.arl_infopage_show_item_address {}
.arl_infopage_show_item_article {
  font-family: $font-family-description;
  text-align: left;
}
.arl_infopage_show_item_link {
  margin: $arl-margin 0rem;
  text-align: left;
}
.arl_infopage_show_item_picture_img {
  max-width: 20em;
}


@media #{$media-screen-1} {
  .arl_infopage_show {
    padding-bottom: $arl-margin-wide;
  }
  .arl_infopage_show_group_bottom {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
  }
  .arl_infopage_show_group_left {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .arl_infopage_show_group_right {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .arl_infopage_show_group_top {
    width: 20rem;
  }
  .arl_infopage_show_item_article {
    font-size: 0.9em;
    margin: $arl-spacing;
  }
  .arl_infopage_show_item_link {
    font-size: 0.9em;
    margin: $arl-margin-wide $arl-spacing-wide;
  }
  .arl_infopage_show_item_picture_img {
    border-bottom-style: $border-style;
    border-bottom-width: $border-width;
    max-width: 20rem;
  }
}


@media #{$media-screen-2} {
  .arl_infopage_show {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: $arl-spacing-wide $arl-margin-wide;
  }
  .arl_infopage_show_group_bottom {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 20rem;
  }
  .arl_infopage_show_group_left {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .arl_infopage_show_group_right {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .arl_infopage_show_group_top {
    width: 20rem;
  }
  .arl_infopage_show_item_article {
    @include border-pseudo-vertical;
    margin-top: $arl-spacing;
    margin-bottom: $arl-margin-wide;
  }
  .arl_infopage_show_item_link {
    @include border-pseudo-vertical;
  }
  .arl_infopage_show_item_picture_img {
    border-radius: $border-radius-narrow;
  }
}

@media #{$media-screen-3} {
  .arl_infopage_show {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: $arl-spacing-wide $arl-margin-wide;
  }
  .arl_infopage_show_group_bottom {
    width: (40em + $arl-spacing);
    align-items: top;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .arl_infopage_show_group_left {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: $arl-margin;
    max-width: 20em;
  }
  .arl_infopage_show_group_right {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: $arl-margin;
    max-width: 20em;
  }
  .arl_infopage_show_group_top {
    width: 40em;
  }
  .arl_infopage_show_item_article {
    margin-bottom: $arl-margin;
  }
  .arl_infopage_show_item_link {
  }
  .arl_infopage_show_item_picture {
  }
  .arl_infopage_show_item_picture_img {
    border-radius: $border-radius-narrow;
  }
}
