%td.arl_events_index_event_info
  = render 'index_event_info_datetime', event: event
  = render 'index_event_info_title', event: event
  = render 'index_event_info_alert', event: event
  = render 'index_event_info_location', event: event
