= html_head_subtitle_set 'events'

.arl_events_select
  = event_public_filter_select(@arlocal_settings, params)
.arl_events_index
  %table.arl_events_index_table
    - @events.each do |event|
      %tr.arl_events_index_event.arl_active_link_container{data: {url: public_event_path(event.id_public)}}
        -# = render 'index_event_coverpicture', event: event
        = render 'index_event_info', event: event
