.arl_layout_narrow {
  max-width: 20rem;
  width: 20rem;
}

.arl_layout_section {}
.arl_layout_section_text {
  margin: $arl-margin-wide 0rem;
}
.arl_layout_section_wide {
  margin: $arl-margin-wide 0rem;
}
