.arl_events_index {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $arl-margin;
  max-width: 40rem;
}
.arl_events_index_act {}
.arl_events_index_by_year {
  font-weight: 700;
  font-family: $font-family-marquee;
  font-size: 1.125em;
  font-style: italic;
  border-style: $border-style;
  border-width: $border-width;
}
.arl_events_index_city {}
.arl_events_index_coverpicture {
  padding: $arl-margin-wide $arl_margin-narrow;
}
.arl_events_index_datetime {
  font-weight: 700;
}
.arl_events_index_empty {}
.arl_events_index_event {
}
.arl_events_index_event_info {
  padding: $arl-margin-wide $arl_margin-narrow;
}
.arl_events_index_event_info_alert {
  font-family: $font-family-description;
  margin-bottom: ($arl-margin-narrow / 2);
}
.arl_events_index_event_info_datetime {
  font-family: $font-family-title;
  font-weight: 700;
}
.arl_events_index_event_info_link {
  font-family: $font-family-description;
  margin: 0em 0.5em;
}
.arl_events_index_event_info_links {}
.arl_events_index_event_info_location {
  font-family: $font-family-description;
}
.arl_events_index_event_info_title {
  font-family: $font-family-title;
  font-weight: 600;
  margin-bottom: ($arl-margin-narrow / 2);
}
.arl_events_index_event_info_url {
}
.arl_events_index_filter {
  margin-top: $arl-spacing-wide;
}
.arl_events_index_heading {
  text-align: center;
  font-family: $font-family-title;
  font-weight: 700;
  margin: $arl-margin-wide;
}
.arl_events_index_link {}
.arl_events_index_none {
  font-family: $font-family-title;
  margin: $arl-spacing;
}
.arl_events_index_table {
  margin: $arl-margin 0rem;
}
.arl_events_index_thumbnail {
  border-radius: $border-radius-narrow;
}
.arl_events_index_time {}

@media #{$media-screen-1} {
  .arl_events_index_event_info {
    font-size: 0.875em;
  }
  .arl_events_index_table {
  }
  .arl_events_index_thumbnail {
    max-height: 5em;
    max-width: 5em;
  }
}
@media #{$media-screen-2} {
  .arl_events_index_event_info {
  }
  .arl_events_index_table {
  }
  .arl_events_index_thumbnail {
    max-height: 7em;
    max-width: 7em;
  }
}
@media #{$media-screen-3} {
  .arl_events_index_event_info {
  }
  .arl_events_index_table {
  }
  .arl_events_index_thumbnail {
    max-height: 7em;
    max-width: 7em;
  }
}
