.arl_form_title
  Upload audio

= form_with model: [:admin, album], local: true, url: admin_album_audio_create_from_upload_path(album), class: :arl_form do |f|
  .arl_form_data
    = f.fields_for :audio, f.object.audio.build do |a|
      = render 'form_elements/file_upload', attribute: :source_uploaded, form: a
  .arl_form_actions
    = f.submit class: :arl_button_form_submit
