= form_with(model: [:admin, album], method: :delete, local: true, class: :arl_form) do |f|
  .arl_form_title
    Destroy album?
    .arl_form_data_label_destroy= tag.i album.title

  %ul.arl_form_explanation
    %li.arl_form_explanation_caveat Tracklist will be destroyed.
    %li.arl_form_explanation_caveat Audio entries will remain in the database.
    %li.arl_form_explanation_caveat Audio files will remain in the filesystem.
  %ul.arl_form_explanation
    %li.arl_form_explanation_warning This action can not be undone.

  .arl_form_actions
    = f.submit 'Destroy Album', data: { confirm: 'Are you sure?' },  class: :arl_button_form_submit_destroy
