.arl_admin_album_show_vendors.arl_metadata_layout_block
  .arl_metadata_pair
    .arl_metadata_key Vendor markdown links
    - if album.vendor_markdown_links.to_s != ''
      %dd.arl_metadata_value= album.vendor_markdown_links
    - else
      %dd.arl_metadata_value_nil (none)
  .arl_metadata_pair_boolean
    .arl_metadata_key Show can include vendor markdown_links
    .arl_metadata_value= album.show_can_include_vendor_markdown_links ? album.show_can_include_vendor_markdown_links : 'false'
