.arl_albums_index {}
.arl_albums_index_album {
  cursor: pointer;
}
.arl_albums_index_album_notice_alt_url {
  font-family: $font-family-title;
  font-size: 0.9em;
  font-style: italic;
}
.arl_albums_index_album_notice_alt_url_link {
}
.arl_albums_index_album_picture {
}
.arl_albums_index_album_picture_img {
  border-radius: $border-radius-narrow;
}
.arl_albums_index_album_text {
}
.arl_albums_index_album_text_album_artist {
  font-family: $font-family-title;
  font-size: 0.9em;
  font-style: italic;
  font-weight: bold;
  margin-bottom: ($arl-margin-narrow / 2);
}
.arl_albums_index_album_text_title {
  font-family: $font-family-title;
  font-weight: bold;
  margin-bottom: $arl-margin-narrow;
}
.arl_albums_index_album_text_title_link {
}
.arl_albums_index_album_text_track {
  display: inline;
  margin: 0rem;
  &:after {
    content: ' / ';
  }
  &:last-child:after {
    content: '';
  }
}
.arl_albums_index_album_text_tracks {
  font-family: $font-family-description;
  font-size: 0.75rem;
  list-style-type: none;
  margin: $arl-margin-narrow 0rem;
}
.arl_albums_index_album_text_year {
  font-family: $font-family-description;
  font-size: 0.75rem;
  margin-top: $arl-margin-narrow;
}
.arl_albums_index_albums {}



@media #{$media-screen-1} {
  .arl_albums_index {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: $arl-margin;
  }
  .arl_albums_index_album_picture {
    padding-bottom: $arl-margin-wide;
    padding-left: 0rem;
    padding-right: $arl-margin-narrow;
    padding-top: $arl-margin-wide;
  }
  .arl_albums_index_album_picture_img {
    height: 5rem;
    width: 5rem;
  }
  .arl_albums_index_album_text {
    padding-bottom: $arl-margin;
    padding-left: $arl-margin-narrow;
    padding-right: 0rem;
    padding-top: $arl-margin;
    width: 100%;
  }
  .arl_albums_index_album_text_album_artist {
    font-size: .75em;
  }
  .arl_albums_index_album_notice_alt_url {
    display: none;
  }
  .arl_albums_index_album_text_tracks {
    display: none;
  }
  .arl_albums_index_albums {
    width: 18rem;
  }
  .arl_albums_index_album_notice_alt_url {
    margin-bottom: $arl-margin-wide;
  }

}


@media #{$media-screen-2} {
  .arl_albums_index {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 30rem;
    padding: $arl-margin-wide;
  }
  .arl_albums_index_album_picture {
    padding: $arl-margin-wider $arl-margin-narrow;
  }
  .arl_albums_index_album_picture_img {
    height: 7rem;
    width: 7rem;
  }
  .arl_albums_index_album_text {
    padding: $arl-margin-wide $arl-margin-narrow;
  }
}


@media #{$media-screen-3} {
  .arl_albums_index {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 35rem;
    padding: $arl-margin-wide;
  }
  .arl_albums_index_album_picture {
    padding: $arl-margin-wider $arl-margin-narrow;
  }
  .arl_albums_index_album_picture_img {
    height: 7rem;
    width: 7rem;
  }
  .arl_albums_index_album_text {
    padding: $arl-margin-wide $arl-margin-narrow;
  }
}
