.arl_form_data_attr
  = form.label :audio_default_date_released_enabled, class: :arl_form_data_attr_label
  = form.check_box :audio_default_date_released_enabled, class: :arl_form_data_attr_input_checkbox
  %aside.arl_form_data_attr_explanation
    Automatically slect the following date for new audio
  .arl_form_data_attr_multi
    = form.date_select :audio_default_date_released, { include_blank: true, selected: form.object.audio_default_date_released || Time.zone.now, start_year: (Date.today.year - 10) }, {class: :arl_form_data_attr_input_select}
