.arl_form_data_attr
  = form.label :audio_default_date_released_enabled, class: :arl_form_data_attr_label
  = form.check_box :audio_default_date_released_enabled, class: :arl_form_data_attr_input_checkbox
  = form.label :audio_default_date_released_enabled, '&nbsp;'.html_safe, class: :arl_form_data_attr_input_checkbox_visible, tabindex: 0
  %aside.arl_form_data_attr_explanation
    Automatically select the following date for new audio
  .arl_form_data_attr_multi
    = form.date_field :audio_default_date_released, class: :arl_form_data_attr_input_select_multi
