.arl_form_data_attr
  = form.label (local_assigns[:label] ? label : attribute), class: :arl_form_data_attr_label

  - if form.object.does_not_have_source_uploaded(attribute)
    = form.file_field attribute, autocomplete: :off, direct_upload: true, class: :arl_form_data_attr_input_file_upload

  - if form.object.does_have_source_uploaded(attribute)
    .arl_form_data_attr_attachment
      .arl_form_data_attr_attachment_filename= form.object.method(attribute).call.blob.filename
      - if local_assigns[:purge_path]
        .arl_form_data_attr_attachment_purge_link= link_to 'purge attachment', purge_path
