@mixin jp_var_button_position {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  overflow: visible;
};


@mixin jp_button_next {
  @include jp_var_button_position;
  background-image: image_url('jplaytable_turq/turq.next.svg');
}

@mixin jp_button_pause {
  @include jp_var_button_position;
  background-image: image_url('jplaytable_turq/turq.pause.svg');
}

@mixin jp_button_play {
  @include jp_var_button_position;
  background-image: image_url('jplaytable_turq/turq.play.svg');
}

@mixin jp_button_previous {
  @include jp_var_button_position;
  background-image: image_url('jplaytable_turq/turq.prev.svg');
}

@mixin jp_button_repeat {
  @include jp_var_button_position;
  background-image: image_url('jplaytable_turq/turq.repeat.svg');
}

@mixin jp_button_repeat_off {
  @include jp_var_button_position;
  background-image: image_url('jplaytable_turq/turq.repeat.svg');
}

@mixin jp_button_shuffle {
  @include jp_var_button_position;
  background-image: image_url('jplaytable_turq/turq.shuffle.svg');
}

@mixin jp_button_shuffle_off {
  @include jp_var_button_position;
  background-image: image_url('jplaytable_turq/turq.shuffle.svg');
}

@mixin jp_button_stop {
  @include jp_var_button_position;
  background-image: image_url('jplaytable_turq/turq.stop.svg');
}
