.jp_arl_progress {
  padding: 0rem 1.5rem 1rem 1.5rem;
}

.jp_arl_progress_single {
  padding: 1.75rem 1.5rem 0rem 1.5rem;
}

.jp_arl_progress_bar.jp-seek {
  border-style: $border-style;
  border-width: $border-width;
  cursor: pointer;
  height: 1rem;
  overflow: hidden;
}

.jp_arl_progress_bar.jp-seek-bar {
  height: 100%;
}

.jp_arl_progress_bar.jp-play-bar {
  height: 100%;
  clear: both;
}

.jp_arl_progress_time.jp-current-time {
  font-family: $font-family-monospace;
  font-size: 0.8em;
  margin-top: 0.25em;
}
