.arl_admin_joined_resources {
}
.arl_admin_joined_resource {
  display: inline;
  &::after {
    content: ' | '
  }
  &:last-child::after {
    content: ''
  }
}
.arl_admin_joined_resource_data {
  display: inline;
  font-family: $font-family-data;
  &::after {
    content: ' / '
  }
  &:last-child::after {
    content: ''
  }
}
.arl_admin_joined_resource_heading {
  display: inline;
  font-family: $font-family-application;
  font-weight: bold;
  white-space: nowrap;
}
