.arl_form_title
  Upload picture

= form_with model: [:admin, event], local: true, url: admin_event_picture_create_from_upload_path(event), class: :arl_form do |f|
  .arl_form_data
    = f.fields_for :pictures, f.object.pictures.build do |e|
      = render 'form_elements/file_upload', attribute: :source_uploaded, form: e
  .arl_form_actions
    = f.submit class: :arl_button_form_submit
