.arl_form_title
  Upload audio

= form_with model: [:admin, event], local: true, method: :post, url: admin_event_audio_create_from_upload_path(event), class: :arl_form do |f|
  .arl_form_data
    = f.fields_for :audio, f.object.audio.build do |e|
      = render 'form_elements/file_upload', attribute: :source_uploaded, form: e
  .arl_form_actions
    = f.submit class: :arl_button_form_submit
