=# render 'index_table_header', selection: params[:selection]
- events_by_year.each_pair do |year, events|
  %table.arl_events_index_table
    %caption.arl_events_index_by_year
      = year
    - events.each do |event|
      %tr.arl_events_index_event.arl_active_link_container{data: {url: admin_event_path(event.id_public)}}
        = render 'index_event_coverpicture', event: event
        = render 'index_event_info', event: event
