= html_head_subtitle_set 'events'

.arl_admin_resource_header.resource_index
  .arl_admin_resource_header_category
    Events Index

.arl_events_select
  = events_admin_filter_select
.arl_events_index
  %table.arl_events_index_table
    - @events.each do |event|
      %tr.arl_events_index_event.arl_active_link_container{data: {url: public_event_path(event.id_public)}}
        = render 'index_event_coverpicture', event: event
        = render 'index_event_info', event: event
