.arl_admin_help_basic {
  max-width: 30rem;
  padding: 0 $arl-spacing;
}
.arl_admin_help_basic_title {
  font-family: $font-family-application;
  font-size: 1.25rem;
  text-align: center;
}
.arl_admin_help_basic_content_text {
  font-family: $font-family-data;
}
.arl_admin_help_basic_content_title {
  font-family: $font-family-application;
  font-size: 1.125
}
