.arl_admin_help_basic {
  max-width: 30rem;
}
.arl_admin_help_basic_title {
  font-family: $font-family-application;
  font-size: 1.25rem;
  text-align: center;
}
.admin_help_basic_icons {
  margin-bottom: $arl-spacing-wide;
}
.admin_help_basic_icons_example {

}
.arl_admin_help_basic_icon {
  padding: $arl-margin-wide $arl-margin;
  vertical-align: top;
}
.arl_admin_help_basic_icon_text {
  padding: $arl-margin-wide $arl-margin;
  vertical-align: top;
}
.arl_admin_help_basic_icon_text_title {
  font-family: $font-family-data;
  margin: 0rem;
}
.arl_admin_help_basic_icon_text_description {
  font-family: $font-family-data;
  margin: 0rem;
}

.arl_admin_help_basic_content_text {
  font-family: $font-family-data;
}
.arl_admin_help_basic_content_title {
  font-family: $font-family-application;
  font-size: 1.125
}
