.arl_admin_markup_types {
  margin: $arl-margin-wide;
}
.arl_admin_markup_types_aside {
  text-align: center;
  font-family: $font-family-application;
  font-size: 0.9rem;
  padding-bottom: $arl-spacing-wide;
}
.arl_admin_markup_types_overview {
  margin-bottom: $arl-spacing-wide;
}
.arl_admin_markup_types_overview_case {
  margin-bottom: $arl-margin;
}
.arl_admin_markup_types_overview_case_example {
  font-family: $font-family-data;
}
.arl_admin_markup_types_overview_case_header {
  font-family: $font-family-application;
  font-weight: bold;
}
.arl_admin_markup_types_overview_summary {
  font-family: $font-family-data;
}
.arl_admin_markup_types_heading {
  text-align: center;
  font-family: $font-family-application;
}
.arl_admin_markup_types_demo {
  display: flex;
  flex-direction: row;
  margin: 0rem $arl-margin-wide;
}
.arl_admin_markup_types_demo_heading {
  font-family: $font-family-application;
  padding: $arl-margin 0rem;
  border-bottom-style: solid;
  border-bottom-width: $border-width;
}
.arl_admin_markup_types_demo_text_markup {
  border-bottom-style: solid;
  border-bottom-width: $border-width;
  font-family: $font-family-monospace;
  font-size: 0.9rem;
  max-width: 32rem;
  padding: 0 $arl-spacing-wide;
  vertical-align: top;
  width: 50%;
}
.arl_admin_markup_types_demo_parsed {
  border-bottom-style: solid;
  border-bottom-width: $border-width;
  font-family: $font-family-text;
  max-width: 32rem;
  padding: 0 $arl-spacing-wide;
  width: 50%;
  vertical-align: top;
}
.arl_admin_markup_types_demo_example:last-child .arl_admin_markup_types_demo_text_markup {
  border-bottom: none;
}
.arl_admin_markup_types_demo_example:last-child .arl_admin_markup_types_demo_parsed {
  border-bottom: none;
}
