= html_head_title_extend! :articles

.arl_admin_resource_header.resource_index_private
  .arl_admin_resource_header_category
    Articles Index

.arl_articles_index
  %table.arl_articles_index_articles
    - @articles.each do |article|
      %tr.arl_articles_index_article
        -# %td.arl_articles_index_article_admin_actions
        -# = render 'index_article_admin_buttons', article: article
        %td.arl_articles_index_article_details
          = render 'index_article_details', article: article
