.arlocal {
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
}
.arlocal_admin {
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
}

@media #{$media-screen-1} {
  .arlocal {
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
  }
}
