.arl_content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom-style: $border-style;
  border-bottom-width: $border-width;
}

// @media #{$media-screen-1} {
//   .arl_content {
//     border-left-style: $border-style;
//     border-left-width: $border-width;
//     border-right-style: $border-style;
//     border-right-width: $border-width;
//   }
// }
