.arl_admin_header {
  border-bottom-style: $border-style;
  border-bottom-width: $border-width;
  display: grid;
  font-family: $font-family-application;
	grid-gap: 1rem 1rem;
  grid-template-areas: 'logo text' 'buttons buttons' 'messages messages';
	grid-template-columns: min-content auto;
	padding: $arl-spacing-wide;
}
.arl_admin_header_error {
  display: inline;
  text-indent: 0;
  margin: 0;
}
.arl_admin_header_error_list {
  display: inline;
  text-indent: 0;
  margin: 0;
}
.arl_admin_header_errors {
  display: block;
}
.arl_admin_header_logo {
  grid-area: logo;
}
.arl_admin_header_logo_thumbnail {
  border-radius: $border-radius-narrow;
  border-style: $border-style;
  border-width: $border-width;
  height: 6rem;
  width: 6rem;
}
.arl_admin_header_text {
  display: flex;
  flex-direction: column;
  grid-area: text;
  justify-content: space-evenly;
}
.arl_admin_header_text_artist {
  font-size: 1.5em;
	margin: 0;
}
.arl_admin_header_text_title {
	font-size: 1.25em;
	margin: 0;
}
.arl_admin_header_text_email {
}
.arl_admin_header_messages {
  grid-area: messages;
  padding: 0 $arl-margin-narrow;
}
.arl_admin_header_nav {
	grid-area: buttons;
}
.arl_admin_header_nav_button {
  border-radius: $border-radius;
  border-style: $border-style;
  border-width: $border-width-wide;
  display: inline-block;
  height: 1.5em;
  margin-right: 0.5rem;
  min-width: 1.5em;
  padding: ($arl-margin-narrow / 2) $arl-margin;
  &:last-child {
    margin-right: 0rem;
  }
}
.arl_admin_header_nav_select {
  border-radius: $border-radius;
  border-style: $border-style;
  border-width: $border-width-wide;
  display: inline-block;
  font-family: $font-family-application;
  font-weight: bold;
  font-size: 1rem;
  height: 1.5em;
  margin-right: 0.5rem;
  min-width: 1.5em;
  padding: ($arl-margin-narrow / 2) $arl-margin;
  vertical-align: top;
  &:last-child {
    margin-right: 0rem;
  }
}
.arl_admin_header_notice {
  display: inline;
}
.arl_admin_header_updated {
  display: inline;
}
.arl_admin_header_updated_list {
  display: block;
  margin-left: $arl-margin-narrow;
}
.arl_admin_header_updated_attribute {
  display: inline;
}
