.jp_arl_buttons_playlist
  .jp_arl_button.jp-play{tabindex: 0}
  .jp_arl_button.jp-pause{tabindex: 0}
  .jp_arl_button.jp-previous{tabindex: 0}
  .jp_arl_button.jp-stop{tabindex: 0}
  .jp_arl_button.jp-next{tabindex: 0}
  .jp_arl_button.jp-repeat{tabindex: 0}
  .jp_arl_button.jp-repeat-off{tabindex: 0}
  .jp_arl_button.jp-shuffle{tabindex: 0}
  .jp_arl_button.jp-shuffle-off{tabindex: 0}
