#jquery_jplayer_1.jp-jplayer

#jp_container_1.jp-audio.jp-type-single
  .jp_arl_single_row
    .jp_arl_single_buttons
      .jp_arl_button_small.jp-play{tabindex: 0}
      .jp_arl_button_small.jp-pause{tabindex: 0}
    .jp_arl_single_column
      .jp_arl_progress_single
        .jp_arl_progress_bar.jp-seek
          .jp_arl_progress_bar.jp-seek-bar
            .jp_arl_progress_bar.jp-play-bar
        .jp_arl_progress_time.jp-current-time 0:00

= audio_script_jPlayer_single(audio)
