.arl_form_title
  Add picture to keyword

- if selectable.does_have_keywords
  = form_with model: [:admin, picture], url: admin_picture_path(picture, pane: :keywords), local: true, class: :arl_form do |f|
    .arl_form_data
      = f.fields_for :picture_keywords, picture.picture_keywords.build do |pk|
        = render 'form_elements/collection_select', form: pk, attribute: :keyword_id, blank: true, collection: selectable.keywords, label: 'Title', text_method: :title
    .arl_form_actions
      = f.submit class: :arl_button_form_submit

- else
  .arl_form
    .arl_form_null No keywords.
