= html_head_title_extend! :picture

.arl_admin_resource_header.resource_new
  .arl_admin_resource_header_category
    Picture Upload

.arl_picture_new_upload_menu
  .arl_picture_new_upload_menu_option
    = link_to "upload single", admin_picture_new_upload_single_path, class: :arl_button_form_submit
  .arl_picture_new_upload_menu_option
    = link_to "upload to album", admin_picture_new_upload_to_album_path, class: :arl_button_form_submit
  .arl_picture_new_upload_menu_option
    = link_to "upload to event", admin_picture_new_upload_to_event_path, class: :arl_button_form_submit
