.arl_admin_articles_index {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.arl_admin_articles_index_articles {
  margin: $arl-margin 0rem;
}
.arl_admin_articles_index_article {
  display: grid;
  grid-template-areas: 'title' 'author' 'summary' 'resources' 'copyright' 'visibility';
  margin: $arl-spacing-wide 0rem;
  row-gap: ($arl-margin-narrow / 2);
}
.arl_admin_articles_index_article_author {
  font-family: $font-family-data;
}
.arl_admin_articles_index_article_copyright {
  font-family: $font-family-data;
}
.arl_admin_articles_index_article_joins {
  font-family: $font-family-data;
}
.arl_admin_articles_index_article_summary {
  font-family: $font-family-data;
}
.arl_admin_articles_index_article_title {
  font-family: $font-family-title;
  font-weight: bold;
}
.arl_admin_articles_index_article_visibility {
  font-family: $font-family-data;
}

@media #{$media-screen-1} {
  .arl_admin_articles_index {
    padding: $arl-margin-wide $arl-spacing-wide;
  }
}

@media #{$media-screen-2} {
  .arl_admin_articles_index {
    max-width: 30rem;
    padding: $arl-margin-wide 0rem;
  }
}

@media #{$media-screen-3} {
  .arl_admin_articles_index {
    max-width: 45rem;
    padding: $arl-margin-wide 0rem;
  }
}
