= form_with(model: [:admin, link], method: :delete, local: true, class: :arl_form) do |f|
  .arl_form_title
    Destroy link?
    .arl_form_data_label_destroy= tag.i link.name

  %ul.arl_form_explanation
    %li.arl_form_explanation_warning This action can not be undone.

  .arl_form_actions
    = f.submit 'Destroy Link', data: { confirm: 'Are you sure?' },  class: :arl_button_form_submit_destroy
