<div class='arl_video_player'>
  <video
    id="vid1"
    class="video-js vjs-default-skin vjs-fluid"
    controls
    autoplay
    width="640"
    height="360"
    data-setup='{ "techOrder": ["youtube", "html5"], "sources": [{ "type": "video/youtube", "src": "<%= video.source_url %>"}] }' >
  </video>
</div>
