.arl_pictures_show_text
  .arl_layout_section_text
    = render 'show_picture_text_title', picture: picture
    = render 'show_picture_text_subtitle', picture: picture
  .arl_layout_section_text
    = render 'show_picture_text_credits', picture: picture
    = render 'show_picture_text_year', picture: picture
