.arl_admin_audio_index {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: $arl-margin-wide;
}
.arl_admin_audio_index_audio {
  column-gap: $arl-margin;
  display: grid;
  font-family: $font-family-data;
  grid-template-areas: 'title title title' 'source source source' 'joins joins joins' 'date duration isrc' 'visibility visibility visibility';
  grid-template-columns: 5rem 5rem auto;
  margin: $arl-spacing-wide 0rem;
  max-width: 45rem;
  row-gap: ($arl-margin-narrow / 2);
}
.arl_admin_audio_index_audio_date {
  grid-area: date;
  font-size: 0.9rem;
}
.arl_admin_audio_index_audio_duration {
  grid-area: duration;
  text-align: right;
  font-size: 0.9rem;
}
.arl_admin_audio_index_audio_isrc {
  grid-area: isrc;
  margin-left: $arl-spacing;
  font-size: 0.9rem;
}
.arl_admin_audio_index_audio_joins {
  grid-area: joins;
  font-size: 0.9rem;
}
.arl_admin_audio_index_audio_source {
  grid-area: source;
}
.arl_admin_audio_index_audio_title {
  grid-area: title;
  font-family: $font-family-title;
  font-weight: bold;
}
.arl_admin_audio_index_audio_visibility {
  grid-area: visibility;
  font-weight: bold;
  font-size: 0.9rem;
}
.arl_admin_audio_index_filter {
  margin: $arl-margin-wide 0rem;
}
