.arl_videos_index {}
.arl_videos_index_category {}
.arl_videos_index_subheading {
  font-family: $font-family-marquee;
  font-size: 1.1em;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}
.arl_videos_index_video {
  cursor: pointer;
}
.arl_videos_index_video_picture {
  grid-area: picture;
}
.arl_videos_index_video_text {
  grid-area: text;
  vertical-align: top;
}
.arl_videos_index_video_text_video_artist {
  font-family: $font-family-title;
  font-weight: bold;
}
.arl_videos_index_video_text_title {
  font-family: $font-family-title;
  font-weight: bold;
}
.arl_videos_index_video_text_title_link {
}
.arl_videos_index_video_text_year {
  font-family: $font-family-description;
}
.arl_videos_index_videos {}



@media #{$media-screen-1} {
  .arl_videos_index {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .arl_videos_index_category {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .arl_videos_index_subheading {
    padding: $arl-margin $arl-spacing;
    text-align: right;
    text-shadow: 1px 1px 1px black;
  }
  .arl_videos_index_video {
    align-items: start;
    display: grid;
    grid-template-areas: 'picture' 'text';
    grid-template-rows: min-content auto;
    width: 100%;
  }
  .arl_videos_index_video_picture {
  }
  .arl_videos_index_video_picture_img {
    max-height: 12rem;
    max-width: 100%;
    min-height: 12rem;
    min-width: 100%;
    object-fit: cover;
  }
  .arl_videos_index_video_text {
    padding: ($arl-margin / 2);
    margin-bottom: $arl-margin;
  }
  .arl_videos_index_video_text_title {
    font-size: 1rem;
  }
  .arl_videos_index_video_text_year {
    font-size: 0.825rem;
  }
}


@media #{$media-screen-2} {
  .arl_videos_index {
    display: flex;
    flex-direction: column;
    width: 25rem;
  }
  .arl_videos_index_category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .arl_videos_index_subheading {
    margin-top: $arl-spacing;
    margin-bottom: $arl-margin;
  }
  .arl_videos_index_video {
    align-items: start;
    display: grid;
    grid-template-areas: 'picture' 'text';
    grid-template-rows: min-content auto;
    margin: $arl-margin;
    row-gap: ($arl-margin / 2);
    width: 11rem;
  }
  .arl_videos_index_video_picture {
  }
  .arl_videos_index_video_picture_img {
    border-radius: $border-radius-narrow;
    max-height: 8rem;
    max-width: 11rem;
    min-height: 8rem;
    min-width: 11rem;
    object-fit: cover;
  }
  .arl_videos_index_video_text_title {
    font-size: 0.9rem;
  }
  .arl_videos_index_video_text_year {
    font-size: 0.75rem;
  }
}


@media #{$media-screen-3-only} {
  .arl_videos_index {
    display: flex;
    flex-direction: column;
    width: 38rem;
    padding: $arl-margin-wide 0rem;
  }
  .arl_videos_index_category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .arl_videos_index_subheading {
    margin-top: $arl-spacing;
    margin-bottom: $arl-margin;
  }
  .arl_videos_index_video {
    align-items: start;
    display: grid;
    grid-template-areas: 'picture' 'text';
    grid-template-rows: min-content auto;
    margin: $arl-margin;
    row-gap: ($arl-margin / 2);
    width: 11rem;
  }
  .arl_videos_index_video_picture {
  }
  .arl_videos_index_video_picture_img {
    border-radius: $border-radius-narrow;
    max-height: 8rem;
    max-width: 11rem;
    min-height: 8rem;
    min-width: 11rem;
    object-fit: cover;
  }
  .arl_videos_index_video_text_title {
    font-size: 0.9rem;
  }
  .arl_videos_index_video_text_year {
    font-size: 0.75rem;
  }
}

@media #{$media-screen-4} {
  .arl_videos_index {
    display: flex;
    flex-direction: column;
    padding: $arl-margin-wide $arl-spacing-wide;
  }
  .arl_videos_index_category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .arl_videos_index_subheading {
    margin-top: $arl-spacing;
    margin-bottom: $arl-margin;
  }
  .arl_videos_index_video {
    align-items: start;
    display: grid;
    grid-template-areas: 'picture' 'text';
    grid-template-rows: min-content auto;
    margin: $arl-margin;
    row-gap: ($arl-margin / 2);
    width: 11rem;
  }
  .arl_videos_index_video_picture {
  }
  .arl_videos_index_video_picture_img {
    border-radius: $border-radius-narrow;
    max-height: 8rem;
    max-width: 11rem;
    min-height: 8rem;
    min-width: 11rem;
    object-fit: cover;
  }
  .arl_videos_index_video_text_title {
    font-size: 0.9rem;
  }
  .arl_videos_index_video_text_year {
    font-size: 0.75rem;
  }
}
