.arl_videos_index {}
.arl_videos_index_heading {
//  border-style: $border-style;
//  border-width: $border-width;
  font-family: $font-family-marquee;
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}
.arl_videos_index_video {
  cursor: pointer;
}
.arl_videos_index_video_picture {
//  vertical-align: middle;
}
.arl_videos_index_video_picture_img {
  border-radius: $border-radius-narrow;
}
.arl_videos_index_video_text {
}
.arl_videos_index_video_text_video_artist {
  font-family: $font-family-title;
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: ($arl-margin-narrow / 2);
}
.arl_videos_index_video_text_title {
  font-family: $font-family-title;
  font-weight: bold;
  margin-bottom: $arl-margin-narrow;
}
.arl_videos_index_video_text_title_link {
}
.arl_videos_index_video_text_year {
  font-family: $font-family-description;
  font-size: 0.75rem;
  margin-top: $arl-margin-narrow;
}
.arl_videos_index_videos {}



@media #{$media-screen-1} {
  .arl_videos_index {
    padding: $arl-margin;
  }
  .arl_videos_index_video_picture {
    padding-bottom: $arl-margin-wide;
    padding-left: 0rem;
    padding-right: $arl-margin-narrow;
    padding-top: $arl-margin-wide;
  }
  .arl_videos_index_video_picture_img {
    height: 3.375rem;
    width: 6rem;
  }
  .arl_videos_index_video_text {
    padding-bottom: $arl-margin;
    padding-left: $arl-margin-narrow;
    padding-right: 0rem;
    padding-top: $arl-margin;
    width: 100%;
  }
  .arl_videos_index_video_text_video_artist {
    font-size: .75em;
  }
  .arl_videos_index_video_notice_alt_url {
    display: none;
  }
  .arl_videos_index_video_text_tracks {
    display: none;
  }
  .arl_videos_index_videos {
    width: 18rem;
  }
  .arl_videos_index_video_notice_alt_url {
    margin-bottom: $arl-margin-wide;
  }

}


@media #{$media-screen-2} {
  .arl_videos_index {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 30rem;
    padding: $arl-margin-wide;
  }
  .arl_videos_index_video_picture {
    padding: $arl-margin-wider $arl-margin-narrow;
  }
  .arl_videos_index_video_picture_img {
    height: 4.5rem;
    width: 8rem;
  }
  .arl_videos_index_video_text {
    padding: $arl-margin-wide $arl-margin-narrow;
  }
}


@media #{$media-screen-3} {
  .arl_videos_index {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 35rem;
    padding: $arl-margin-wide;
  }
  .arl_videos_index_video_picture {
    padding: $arl-margin-wider $arl-margin-narrow;
  }
  .arl_videos_index_video_picture_img {
    height: 4.5rem;
    width: 8rem;
  }
  .arl_videos_index_video_text {
    padding: $arl-margin-wide $arl-margin-narrow;
  }
}
