.arl_admin_audio_edit
  = form_with(model: [:admin, arlocal_settings], url: admin_arlocal_settings_purge_icon_image_path(@arlocal_settings, pane: :icon), local: true, class: :arl_form) do |f|
    .arl_form_title
      = @arlocal_settings.icon_image.filename
    .arl_form_title
      Remove icon attachment?

    %ul.arl_form_explanation
      %li.arl_form_explanation_warning This action can not be undone.

    .arl_form_actions
      = f.submit 'Purge Icon', class: :arl_button_form_submit_destroy, data: { confirm: 'Are you sure?' }
