= content_for :page_subtitle, 'A&R.local settings'

.arl_admin_resource_header
  .arl_admin_resource_header_category.resource_edit_private
    A&R.local application settings
  = render '/form_elements/errors', resource: @arlocal_settings

%nav.arl_admin_resource_edit_nav
  - @form_metadata.navbar_categories.each do |category|
    = arlocal_settings_admin_edit_nav_button(arlocal_settings: @arlocal_settings, category: category, current_pane: @form_metadata.current_pane)

.arl_admin_arlocal_settings_edit
  = render @form_metadata.partial_name, arlocal_settings: @arlocal_settings, selectable: @form_metadata.selectables
