.arl_form_title
  Upload picture

= form_with model: [:admin, infopage], local: true, url: admin_infopage_picture_create_from_upload_path(infopage), class: :arl_form do |f|
  .arl_form_data
    = f.fields_for :pictures, f.object.pictures.build do |p|
      = render 'form_elements/file_upload', attribute: :source_uploaded, form: p
  .arl_form_actions
    = f.submit class: :arl_button_form_submit
