.arl_form_title
  Add picture

- if selectable.does_have_pictures
  = form_with(model: [:admin, infopage], url: admin_infopage_path(infopage, pane: :pictures), local: true, class: :arl_form) do |f|
    .arl_form_data
      = f.fields_for :infopage_pictures, f.object.infopage_pictures.build do |ip|
        = render 'form_elements/picture_select', form: ip, selectable: selectable
    .arl_form_actions
      = f.submit class: :arl_button_form_submit

- else
  .arl_form
    .arl_form_null No pictures.
