.arl_admin_infopage_show_item
  .arl_admin_infopage_show_item_order
    = "#{order}."
  .arl_admin_infopage_show_item_class
    Article
  .arl_admin_infopage_show_item_title
    = article_admin_link_title(article)
  .arl_admin_infopage_show_item_content.color_bg1.faux_border
    = parser_div(article.content_props)
