.arl_admin_infopage_show_item
  .arl_admin_infopage_show_item_order
    = "#{order}."
  .arl_admin_infopage_show_item_class
    Picture
  .arl_admin_infopage_show_item_title
    = picture_reference_admin_link(picture)
  .arl_admin_infopage_show_item_content.color_bg1.faux_border
    = picture_preferred_tag(picture, html_class: [:arl_admin_infopage_show_item_picture_img, :faux_border])
