- if item.is_article
  = render 'show_infopage_item_article', article: item.infopageable, order: item.infopage_group_order
- elsif item.is_link
  = render 'show_infopage_item_link', link: item.infopageable, order: item.infopage_group_order
- elsif item.is_picture
  = render 'show_infopage_item_picture', picture: item.infopageable, order: item.infopage_group_order
