= html_head_subtitle_set 'infopages'

.arl_admin_resource_header.resource_index_private
  .arl_admin_resource_header_category
    Infopage Index

.arl_admin_infopage_index
  %table.arl_admin_infopage_index_infopages
    %tr.arl_admin_infopages_index_infopage
      %th.arl_admin_infopage_index_header order
      %th.arl_admin_infopage_index_header name
    - @infopages.each do |infopage|
      %tr.arl_admin_infopages_index_infopage.arl_active_link_container{data: {url: admin_infopage_path(infopage.id_admin)}}
        %td.arl_admin_infopage_index_infopage_index_order
          = infopage.index_order
        %td.arl_admin_infopage_index_infopage_title
          = link_to infopage.title, admin_infopage_path(infopage.id_public), class: :arl_admin_infopage_index_infopage_text_title_link
          = render 'admin/shared/index_joined_links', resource: infopage
