= html_head_subtitle_set 'new infopage'

.arl_admin_resource_header.resource_new
  .arl_admin_resource_header_category
    New Infopage
  .arl_admin_resource_header_buttons
    = infopage_admin_button_to_index
  = render '/form_elements/errors', resource: @infopage

.arl_admin_infopages_new
  = render 'form', infopage: @infopage, selectable: @form_metadata.selectables
