.arl_form_title
  Add video

- if selectable.does_have_videos
  = form_with model: [:admin, keyword], url: admin_keyword_path(keyword, pane: :videos), local: true, class: :arl_form do |f|
    .arl_form_data
      = f.fields_for :video_keywords, keyword.video_keywords.build do |vk|
        = render 'form_elements/collection_select', form: vk, attribute: :video_id, blank: true, collection: selectable.videos, label: 'Title', text_method: :title
    .arl_form_actions
      = f.submit class: :arl_button_form_submit

- else
  .arl_form
    .arl_form_null No videos.
