= html_head_subtitle_set 'streams'

.arl_admin_resource_header.resource_index_private
  .arl_admin_resource_header_category
    Streams Index

.arl_admin_streams_index
  .arl_admin_streams_index
    - @streams.each do |stream|
      .arl_admin_streams_index_stream
        .arl_admin_streams_index_stream_title
          = stream_admin_link_title(stream)
        .arl_admin_streams_index_stream_html_element
          = stream.html_element
        .arl_admin_streams_index_stream_visibility
          = visibility_id(stream.visibility)
