.arl_admin_keywords_index {
  margin: $arl-margin-wide $arl-spacing-wide;
  max-width: 40rem;
}
.arl_admin_keywords_index_keyword {
  display: grid;
  grid-template-areas: 'title' 'resources' 'can_select';
  row-gap: ($arl-margin-narrow / 2);
  margin: $arl-spacing-wide 0rem;
}
.arl_admin_keywords_index_keyword_resources {
  grid-area: resources;
  font-family: $font-family-data;
  font-size: 0.9rem;
}
.arl_admin_keywords_index_keyword_title {
  grid-area: title;
  font-family: $font-family-title;
  font-weight: bold;
}
.arl_admin_keywords_index_keyword_can_select {
  grid-area: can_select;
  font-family: $font-family-data;
}
.arl_admin_keywords_index_keyword_can_select_title {
  display: inline;
  font-family: $font-family-application;
  font-size: 0.9rem;
  font-weight: bold;
}
.arl_admin_keywords_index_keyword_can_select_resource {
  display: inline;
  font-family: $font-family-data;
  font-size: 0.9rem;
  &::after {
    content: ', '
  }
  &:last-child::after {
    content: ''
  }
}

@media #{$media-screen-1} {
  .arl_admin_keywords_index {
  }
}
