.arl_keywords_index {
  margin: $arl-margin-wide 0rem;
  max-width: 40rem;
}
.arl_keywords_index_keyword {
  margin: $arl-margin-wide 0rem;
}
.arl_keywords_index_keyword_resources {
  font-family: $font-family-data;
  font-size: 0.875em;
}
.arl_keywords_index_keyword_title {
  font-family: $font-family-data;
  font-size: 1.1em;
  font-weight: bold;
}
