- if not local_assigns[:step] then step = nil end

%fieldset.arl_form_data_attr
  = form.label heading, class: :arl_form_data_attr_label
  .arl_form_data_attr_multi
    = form.datetime_local_field attribute, autocomplete: :off, class: :arl_form_data_attr_input_select_multi, step: step
    = form.select zone, selectable.time_zones, {}, class: :arl_form_data_attr_input_select
