.arl_form_data_joins_picture_coverpicture
  -# = form.check_box :is_coverpicture, class: [:arl_form_data_checkbox, :arl_active_checkbox_coverpicture], data: { picture: form.object.picture.slug }
  = form.check_box :is_coverpicture, class: [:arl_form_data_attr_input_checkbox, :arl_active_checkbox_coverpicture], data: { picture: form.object.picture.slug }
  = form.label :is_coverpicture, '&nbsp;'.html_safe, class: :arl_form_data_attr_input_checkbox_visible, tabindex: 0
  = form.label 'Cover', class: :arl_form_data_resource_value
