- if form.object.is_coverpicture
  .arl_form_data_joins_picture_order.arl_form_data_attr_not_applicable
    = form.label 'order', class: :arl_form_data_resource_value
    = form.text_field resource_order, autocomplete: :off, size: 2, class: :arl_form_data_attr_input_text_field_inline

- else
  .arl_form_data_joins_picture_order
    = form.label 'order', class: :arl_form_data_resource_value
    = form.text_field resource_order, autocomplete: :off, size: 2, class: :arl_form_data_attr_input_text_field_inline
