%fieldset.arl_form_data_attr
  = form.label attribute, class: :arl_form_data_attr_label
  = form.select attribute_markup_type(attribute), selectable.markup_parsers, { selected: form.object.public_send(attribute_markup_type(attribute)) }, { class: :arl_form_data_attr_input_select_inline }
  ~ form.text_area attribute_markup_text(attribute), autocomplete: :off, class: :arl_form_data_attr_input_text_area
