%fieldset.arl_form_data_attr
  = form.label attribute, ( local_assigns[:label] ? label : attribute ), class: :arl_form_data_attr_label
  = form.select attribute, selectable, { include_blank: local_assigns[:blank], selected: form.object.public_send(attribute) }, { class: :arl_form_data_attr_input_select }
  - if local_assigns[:aside]
    %aside.arl_form_data_attr_explanation= "#{aside}"
