- if local_assigns[:arlocal_settings].admin_forms_edit_slug_field == true
  %fieldset.arl_form_data_attr.arl_form_layout_blocks
    = form.label attribute, class: :arl_form_data_label_block
    %aside.arl_form_data_attr_explanation
      = resource_slug_form_explanation(form.object)
    %aside.arl_form_data_attr_explanation
      May contain: <code>[a-z] [A-Z] [0-9] _ -</code>
    = form.text_field attribute, autocomplete: :off, size: 30, class: :arl_form_data_text_field
