.arl_form_data_attr
  = form.label attribute, class: :arl_form_data_attr_label
  = form.select attribute, selectable.source_types, { selected: form.object.public_send(attribute) }, { class: :arl_form_data_attr_input_select }
