%fieldset.arl_form_data_attr
  = form.label attribute, ( local_assigns[:label] ? label : nil ), class: :arl_form_data_attr_label
  = form.text_field attribute, autocomplete: :off, size: size, class: :arl_form_data_attr_input_text_field_inline
  - if local_assigns[:aside]
    %aside.arl_form_data_attr_explanation= "#{aside}"
