.arl_form_data_attr
  = form.label attribute, class: :arl_form_data_attr_label
  - if local_assigns[:aside]
    - [aside].flatten.each do |a|
      %aside.arl_form_data_attr_explanation= "#{a}"
  = form.text_field attribute, autocomplete: :off, class: :arl_form_data_attr_input_text_field, tabindex: 0
