%fieldset.arl_form_data_attr
  = form.label attribute, class: :arl_form_data_attr_label
  = form.select attribute, visibility_options_for_select, { selected: form.object.send(attribute) }, { class: :arl_form_data_attr_input_select }
