.arl_form_title
  Upload picture

= form_with model: [:admin, video], local: true, url: admin_video_picture_create_from_upload_path(video), class: :arl_form do |f|
  .arl_form_data
    = f.fields_for :pictures, f.object.pictures.build do |vp|
      = render 'form_elements/file_upload', attribute: :source_uploaded, form: vp
  .arl_form_actions
    = f.submit class: :arl_button_form_submit
