.arl_form_title
  Add picture

- if selectable.does_have_pictures
  = form_with(model: [:admin, video], url: admin_video_path(video, pane: :picture), local: true, class: :arl_form) do |f|
    .arl_form_data
      = f.fields_for :video_pictures, video.video_pictures.build do |vp|
        = render 'form_elements/picture_select', form: vp, selectable: selectable
    .arl_form_actions
      = f.submit class: :arl_button_form_submit

- else
  .arl_form
    .arl_form_null No pictures.
