- unless (local_assigns[:optional] == true) && (value.to_s == '')
  .arl_metadata_pair
    %dt.arl_metadata_key= key
    - if visibility.to_s != ''
      %dd.arl_metadata_value= visibility_description(visibility)
    - else
      %dd.arl_metadata_value_nil (none)
