.arl_admin_resource_show_joined_keywords
  .arl_admin_resource_show_joined_heading.arl_metadata_key
    = resource_joined_keywords_count_label(resource)
  - if resource.does_have_keywords
    %ul.arl_admin_resource_show_joined_items.arl_metadata_value
      - resource.joined_keywords.each do |joined_keyword|
        %li.arl_admin_resource_show_joined_item
          = keyword_admin_link_title(joined_keyword.keyword)
