%footer.arl_footer
  .arl_footer_artist
    .arl_footer_artist_copyright
      = artist_copyright_summary(@arlocal_settings)
    .arl_footer_app
      .arl_footer_app_tech
        This site uses cookies to generate anonymous usage statistics.
